@import "../assets/FontAwesome/css/all.min.css";
@import "../assets/slick/slick.css";
@import "../assets/slick/slick-theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
  color: #23262c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  font-size: clamp(4.6288888889px, 1.4465277778vw, 27.7733333333px);
  font-family: "Roboto-Regular", sans-serif;
}

.btn {
  color: #fff;
  background-color: #3d5f00;
  border: none;
  border-radius: 1.3655518216rem 0;
}
@media (min-width: 1024px) {
  .btn {
    border-radius: 0.6827759108rem 0;
  }
}

* {
  color: #3d5f00;
}

.title {
  font-size: 3.6985971089rem;
  text-transform: capitalize;
}
@media (min-width: 1024px) {
  .title {
    font-size: 1.8492985544rem;
  }
}

p {
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 0.8534698885rem;
  }
}

.transition__title {
  padding: 0 3.8918226916rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .transition__title {
    padding: 0 1.9459113458rem;
  }
}
.transition__title div {
  margin-bottom: 2.9359364165rem;
  position: relative;
}
@media (min-width: 1024px) {
  .transition__title div {
    margin-bottom: 1.4679682082rem;
  }
}
.transition__title div .behind {
  z-index: -1;
  position: relative;
  font-family: Roboto-Bold, sans-serif;
  color: #e2e7d9;
  font-size: 6.8277591081rem;
}
@media (min-width: 1024px) {
  .transition__title div .behind {
    font-size: 3.4138795541rem;
  }
}
.transition__title div .before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.4138795541rem;
}
@media (min-width: 1024px) {
  .transition__title div .before {
    font-size: 1.706939777rem;
  }
}
.transition__title div h1 {
  text-transform: uppercase;
}
.transition__title p {
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  .transition__title p {
    font-size: 0.8534698885rem;
  }
}

section.medicine_food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9.4223075692rem;
  margin-left: 3.8918226916rem;
  width: calc(100% - 3.8918226916rem - 3.8918226916rem);
}
@media (min-width: 1024px) {
  section.medicine_food {
    flex-direction: row;
    gap: 4.7111537846rem;
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }
}
section.medicine_food .text-container .title {
  font-size: 3.6985971089rem;
  margin-bottom: 3.4138795541rem;
}
@media (min-width: 1024px) {
  section.medicine_food .text-container .title {
    font-size: 1.8492985544rem;
    margin-bottom: 1.706939777rem;
  }
}
section.medicine_food .text-container p {
  margin-bottom: 3.4138795541rem;
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  section.medicine_food .text-container p {
    margin-bottom: 1.706939777rem;
    font-size: 0.8534698885rem;
  }
}
section.medicine_food .text-container .btn.order {
  text-transform: uppercase;
  width: 15.7721235398rem;
  height: 5.5987624687rem;
  margin-right: 1.1607190484rem;
}
@media (min-width: 1024px) {
  section.medicine_food .text-container .btn.order {
    width: 7.8860617699rem;
    height: 2.7993812343rem;
    margin-right: 0.5803595242rem;
  }
}
section.medicine_food .text-container .btn.arrow {
  width: 6.6229263349rem;
  height: 5.5987624687rem;
}
@media (min-width: 1024px) {
  section.medicine_food .text-container .btn.arrow {
    width: 3.3114631674rem;
    height: 2.7993812343rem;
  }
}
section.medicine_food .text-container .btn.arrow i {
  color: white;
}
section.medicine_food .image-container {
  position: relative;
  width: 90%;
}
@media (min-width: 1024px) {
  section.medicine_food .image-container {
    width: auto;
  }
}
section.medicine_food .image-container img {
  height: 60vh;
}
section.medicine_food .image-container .border {
  border: #3d5f00 solid 0.4779431376rem;
  border-right: none;
  border-bottom: none;
  width: 50%;
  height: 50%;
  position: absolute;
  top: -5%;
  left: -5%;
}
@media (min-width: 1024px) {
  section.medicine_food .image-container .border {
    border: #3d5f00 solid 0.2389715688rem;
    border-right: none;
    border-bottom: none;
  }
}

.medicine_food.first {
  margin-top: 8.3298661119rem;
}
@media (min-width: 1024px) {
  .medicine_food.first {
    margin-top: 4.164933056rem;
  }
}

.medicine_food.second {
  margin-top: 10.5830266176rem;
  margin-bottom: 10.4464714354rem;
}
@media (min-width: 1024px) {
  .medicine_food.second {
    margin-top: 5.2915133088rem;
    margin-bottom: 5.2232357177rem;
  }
}
.medicine_food.second .text-container {
  order: 1;
}
@media (min-width: 1024px) {
  .medicine_food.second .text-container {
    order: 2;
  }
}
.medicine_food.second .image-container {
  order: 2;
}
@media (min-width: 1024px) {
  .medicine_food.second .image-container {
    order: 1;
  }
}

.service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 9.285752387rem;
  padding: 0 3.8918226916rem;
  margin-bottom: 3.5504347362rem;
}
@media (min-width: 1024px) {
  .service-card {
    flex-direction: row;
    justify-content: center;
    gap: 4.6428761935rem;
    padding: 0 1.9459113458rem;
    margin-bottom: 1.7752173681rem;
  }
}
.service-card .text-container .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 2.5945484611rem;
}
@media (min-width: 1024px) {
  .service-card .text-container .top {
    margin-bottom: 1.2972742305rem;
  }
}
.service-card .text-container .top h1 {
  font-size: 3.1291619993rem;
}
@media (min-width: 1024px) {
  .service-card .text-container .top h1 {
    font-size: 1.5645809996rem;
  }
}
.service-card .text-container p {
  margin-bottom: 3.4138795541rem;
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  .service-card .text-container p {
    margin-bottom: 1.706939777rem;
    font-size: 0.8534698885rem;
  }
}
.service-card .text-container .btn {
  width: 13.5872406252rem;
  height: 4.5745986024rem;
}
@media (min-width: 1024px) {
  .service-card .text-container .btn {
    width: 6.7936203126rem;
    height: 2.2872993012rem;
  }
}

.service-card.first {
  margin-top: 8.7395316584rem;
}
@media (min-width: 1024px) {
  .service-card.first {
    margin-top: 4.3697658292rem;
  }
}

.service-card.third {
  margin-bottom: 10.2416386622rem;
}
@media (min-width: 1024px) {
  .service-card.third {
    margin-bottom: 5.1208193311rem;
  }
}

.card {
  width: 100%;
}
@media (min-width: 1024px) {
  .card {
    width: 33.3333333333%;
  }
}

.pricing-card .pricing-card-header {
  position: relative;
  overflow: hidden;
  background: #608b14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17.0693977703rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-header {
    height: 8.5346988852rem;
  }
}
.pricing-card .pricing-card-header h2 {
  font-family: Roboto-Regular, sans-serif;
  font-size: 2.8451272204rem;
  margin-bottom: 1.3655518216rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-header h2 {
    font-size: 1.4225636102rem;
    margin-bottom: 0.6827759108rem;
  }
}
.pricing-card .pricing-card-header h1 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 3.9826318878rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-header h1 {
    font-size: 1.9913159439rem;
  }
}
.pricing-card .pricing-card-header * {
  color: white;
}
.pricing-card .pricing-card-content {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25.8089294287rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-content {
    height: 12.9044647144rem;
  }
}
.pricing-card .pricing-card-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.8235451005rem;
  gap: 2.4579932789rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-content ul {
    margin-bottom: 1.9117725503rem;
    gap: 1.2289966395rem;
  }
}
.pricing-card .pricing-card-content ul li {
  text-transform: capitalize;
}
.pricing-card .pricing-card-content .btn {
  width: 12.9727423054rem;
  height: 4.233210647rem;
}
@media (min-width: 1024px) {
  .pricing-card .pricing-card-content .btn {
    width: 6.4863711527rem;
    height: 2.1166053235rem;
  }
}

.pricing-card.sold .pricing-card-header::before {
  content: "HOT";
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  transform: rotate(45deg);
  font-weight: bold;
  top: 10px;
  right: -30px;
  padding: 5px 40px;
  background: #3d5f00;
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  .pricing-card.sold .pricing-card-header::before {
    font-size: 0.8534698885rem;
  }
}

.card-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.0724915987rem;
  padding: 0 3.8918226916rem;
  margin-top: 8.3298661119rem;
  margin-bottom: 10.7195817998rem;
}
@media (min-width: 1024px) {
  .card-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 1.9459113458rem;
    gap: 1.5362457993rem;
    margin-top: 4.164933056rem;
    margin-bottom: 5.3597908999rem;
  }
}

.card-container.second img,
.card-container.second div {
  height: 26.2868725663rem;
}
@media (min-width: 1024px) {
  .card-container.second img,
  .card-container.second div {
    height: 13.1434362831rem;
  }
}
.card-container.second .instruction-card {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-container.second .instruction-card h2 {
  font-family: Roboto-Medium, sans-serif;
  font-size: 2.2756921107rem;
  margin-bottom: 2.7993812343rem;
}
@media (min-width: 1024px) {
  .card-container.second .instruction-card h2 {
    font-size: 1.1378460554rem;
    margin-bottom: 1.3996906172rem;
  }
}
.card-container.second .instruction-card p {
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.706939777rem;
  margin-bottom: 2.6628260522rem;
}
@media (min-width: 1024px) {
  .card-container.second .instruction-card p {
    font-size: 0.8534698885rem;
    margin-bottom: 1.3314130261rem;
  }
}
.card-container.second .instruction-card .btn {
  font-family: roboto-medium, sans-serif;
  font-size: 1.1381874433rem;
  width: 10.7878593908rem;
  height: 3.0724915987rem;
}
@media (min-width: 1024px) {
  .card-container.second .instruction-card .btn {
    width: 5.3939296954rem;
    height: 1.5362457993rem;
    font-size: 0.5690937217rem;
  }
}

.header.active {
  position: fixed;
  z-index: 6;
}

.header {
  background: #3d5f00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.9401504241rem;
  padding: 1.5703845949rem 3.8235451005rem;
}
@media (min-width: 1024px) {
  .header {
    height: 2.970075212rem;
    padding: 0.7851922974rem 1.9117725503rem;
    position: relative;
  }
}
.header .left {
  border-bottom: white solid 1px;
  position: relative;
  display: none;
  width: 19.2542806849rem;
}
@media (min-width: 1024px) {
  .header .left {
    display: block;
    width: 9.6271403425rem;
  }
}
.header .left input {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
}
.header .left input::placeholder {
  color: white;
}
.header .left i {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  font-size: 1.6386621859rem;
}
@media (min-width: 1024px) {
  .header .left i {
    font-size: 0.819331093rem;
  }
}
.header .center {
  cursor: pointer;
}
.header .center img {
  width: 5.1208193311rem;
}
@media (min-width: 1024px) {
  .header .center img {
    width: 2.5604096655rem;
  }
}
.header .right {
  display: flex;
  justify-content: space-around;
  gap: 2.9359364165rem;
}
@media (min-width: 1024px) {
  .header .right {
    gap: 1.4679682082rem;
  }
}
.header .right .burger-toggle {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 2rem;
  cursor: pointer;
}
.header .right .burger-toggle i {
  font-size: 1.6386621859rem;
}
@media (min-width: 1024px) {
  .header .right .burger-toggle i {
    font-size: 0.819331093rem;
  }
}
@media (min-width: 1024px) {
  .header .right .burger-toggle {
    display: none;
  }
}
.header .right .tabs {
  font-size: 1.6386621859rem;
  display: none;
}
@media (min-width: 1024px) {
  .header .right .tabs {
    display: block;
    font-size: 0.819331093rem;
  }
}
.header .right .icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.1607190484rem;
}
@media (min-width: 1024px) {
  .header .right .icon-container {
    gap: 0.5803595242rem;
  }
}
.header .right .icon-container .icon {
  position: relative;
}
.header .right .icon-container .icon i {
  font-size: 1.6386621859rem;
}
@media (min-width: 1024px) {
  .header .right .icon-container .icon i {
    font-size: 0.819331093rem;
  }
}
.header .right .icon-container .icon .badge {
  position: absolute;
  top: -50%;
  right: -65%;
  background: #608b14;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1.5703845949rem;
  height: 1.5703845949rem;
  border-radius: 50%;
  font-size: 1.1381874433rem;
}
@media (min-width: 1024px) {
  .header .right .icon-container .icon .badge {
    width: 0.7851922974rem;
    height: 0.7851922974rem;
    font-size: 0.5690937217rem;
    top: -20%;
  }
}

.header * {
  color: white;
}

nav.navigation.active {
  display: flex;
}

nav.navigation {
  display: none;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
}
@media (min-width: 1024px) {
  nav.navigation {
    display: flex;
    position: relative;
    height: 2.970075212rem;
  }
}
nav.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2.6628260522rem;
}
@media (min-width: 1024px) {
  nav.navigation ul {
    flex-direction: row;
    gap: 1.3314130261rem;
  }
}
nav.navigation ul li a {
  color: #3d5f00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6099855977rem;
}
@media (min-width: 1024px) {
  nav.navigation ul li a {
    font-size: 0.8049927988rem;
  }
}
nav.navigation ul li.none {
  display: block;
}
@media (min-width: 1024px) {
  nav.navigation ul li.none {
    display: none;
  }
}

@media (min-width: 1024px) {
  nav.navigation {
    height: 2.970075212rem;
  }
  nav.navigation ul {
    gap: 1.3314130261rem;
  }
  nav.navigation ul li a {
    font-size: 0.8049927988rem;
  }
}
section.banner {
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  margin-bottom: 5.1549581266rem;
  padding: 15.0210700379rem 0;
}
@media (min-width: 1024px) {
  section.banner {
    padding: 0;
    height: calc(100vh - 5.9401504241rem);
  }
}
section.banner .banner__content {
  position: relative;
  z-index: 1;
  margin-left: 3.8918226916rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content {
    margin-left: 1.9459113458rem;
  }
}
section.banner .banner__content .bold {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4.5520669974rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content .bold {
    font-size: 2.2760334987rem;
  }
}
section.banner .banner__content hr {
  background: #3d5f00;
  border: none;
  margin: 2.6628260522rem 0;
  height: 0.4779431376rem;
  width: 24.9895983357rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content hr {
    margin: 1.3314130261rem 0;
    height: 0.2389715688rem;
    width: 12.4947991679rem;
  }
}
section.banner .banner__content p {
  font-size: 1.4222222222rem;
  margin-bottom: 4.5745986024rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content p {
    font-size: 0.7111111111rem;
    margin-bottom: 2.2872993012rem;
  }
}
section.banner .banner__content .btn.order {
  text-transform: uppercase;
  width: 15.7721235398rem;
  height: 5.5987624687rem;
  margin-right: 1.1607190484rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content .btn.order {
    width: 7.8860617699rem;
    height: 2.7993812343rem;
    margin-right: 0.5803595242rem;
  }
}
section.banner .banner__content .btn.arrow {
  width: 6.6229263349rem;
  height: 5.5987624687rem;
}
@media (min-width: 1024px) {
  section.banner .banner__content .btn.arrow {
    width: 3.3114631674rem;
    height: 2.7993812343rem;
  }
}
section.banner .banner__content .btn.arrow i {
  color: white;
}
section.banner .banner-image img {
  display: none;
}
@media (min-width: 1024px) {
  section.banner .banner-image img {
    display: block;
    height: calc(100vh - 5.9401504241rem);
    position: absolute;
    right: 0;
    top: 0;
  }
}

section.special-offer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10.5147490265rem;
}
@media (min-width: 1024px) {
  section.special-offer {
    margin-bottom: 5.2573745133rem;
  }
}
section.special-offer .text-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
section.special-offer .text-content h2 {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 2.2756921107rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content h2 {
    font-size: 1.1378460554rem;
  }
}
section.special-offer .text-content h2.first {
  margin-bottom: 2.0483277324rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content h2.first {
    margin-bottom: 1.0241638662rem;
  }
}
section.special-offer .text-content h1 {
  font-family: "Roboto-Bold", sans-serif;
  margin-bottom: 1.3655518216rem;
  font-size: 3.9826318878rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content h1 {
    margin-bottom: 0.6827759108rem;
    font-size: 1.9913159439rem;
  }
}
section.special-offer .text-content h2.second {
  text-transform: uppercase;
  margin-bottom: 2.7311036432rem;
  letter-spacing: 1.3655518216rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content h2.second {
    margin-bottom: 1.3655518216rem;
    letter-spacing: 0.6827759108rem;
  }
}
section.special-offer .text-content p {
  margin-bottom: 3.2773243719rem;
  font-size: 1.706939777rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content p {
    margin-bottom: 1.6386621859rem;
    font-size: 0.8534698885rem;
  }
}
section.special-offer .text-content .btn {
  width: 15.4307355844rem;
  height: 5.3256521043rem;
}
@media (min-width: 1024px) {
  section.special-offer .text-content .btn {
    width: 7.7153677922rem;
    height: 2.6628260522rem;
  }
}
section.special-offer img {
  position: relative;
  z-index: -1;
  height: 85vh;
  width: 100vw;
}
@media (min-width: 1024px) {
  section.special-offer img {
    height: auto;
  }
}

.special-offer.first .text-content {
  left: 3.8918226916rem;
}
@media (min-width: 1024px) {
  .special-offer.first .text-content {
    left: 1.9459113458rem;
  }
}

.special-offer.second .text-content {
  right: 3.8918226916rem;
}
@media (min-width: 1024px) {
  .special-offer.second .text-content {
    right: 1.9459113458rem;
  }
}

footer {
  width: 100%;
  background: #3d5f00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 34.8215714514rem;
}
@media (min-width: 1024px) {
  footer {
    height: 17.4107857257rem;
  }
}
footer .logo {
  height: 6.0084280151rem;
  margin-bottom: 2.7311036432rem;
}
@media (min-width: 1024px) {
  footer .logo {
    margin-bottom: 1.3655518216rem;
    height: 3.0042140076rem;
  }
}
footer h1 {
  font-family: Roboto-Medium, sans-serif;
  font-size: 3.4138795541rem;
  margin-bottom: 1.5021070038rem;
  letter-spacing: 0.6144983197rem;
}
@media (min-width: 1024px) {
  footer h1 {
    font-size: 1.706939777rem;
    margin-bottom: 0.7510535019rem;
    letter-spacing: 0.3072491599rem;
  }
}
footer h2 {
  font-family: Roboto-Regular, sans-serif;
  font-size: 2.2756921107rem;
  margin-bottom: 3.0042140076rem;
  letter-spacing: 0.2048327732rem;
}
@media (min-width: 1024px) {
  footer h2 {
    font-size: 1.1378460554rem;
    margin-bottom: 1.5021070038rem;
    letter-spacing: 0.1024163866rem;
  }
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9558862751rem;
  margin-bottom: 3.345601963rem;
}
@media (min-width: 1024px) {
  footer .social-media {
    gap: 0.4779431376rem;
    margin-bottom: 1.6728009815rem;
  }
}
footer .social-media div {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3897156878rem;
  height: 2.3897156878rem;
}
@media (min-width: 1024px) {
  footer .social-media div {
    width: 1.1948578439rem;
    height: 1.1948578439rem;
  }
}
footer .social-media div i {
  font-size: 1.2289966395rem;
  color: #3d5f00;
}
@media (min-width: 1024px) {
  footer .social-media div i {
    font-size: 0.6144983197rem;
  }
}
footer h3 {
  font-family: Roboto-Medium, sans-serif;
  font-size: 2.8451272204rem;
  letter-spacing: 0.3413879554rem;
}
@media (min-width: 1024px) {
  footer h3 {
    letter-spacing: 0.1706939777rem;
    font-size: 1.4225636102rem;
  }
}

footer * {
  color: white;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../assets/font/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/font/Roboto-Bold.ttf");
}

/*# sourceMappingURL=main.css.map */
