@use "../abstract/function" as *;
@use "../abstract/variable" as *;
@use "../abstract/responsive" as *;
.pricing-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calculateToMobile(45);
  padding: 0 calculateToMobile(57);
  margin-top: calculateToMobile(122);;
  @include Desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 calculateToRem(57);
    gap: calculateToRem(45);
    margin-top: calculateToRem(122);;
  }
}
